* {
  margin: 0;
}
h2 {
  text-transform: capitalize;
  font-size: 2vw;
  word-spacing: 4px;
}
a {
  color: rgb(9, 73, 162);
  font-size: 1.2vw;
  text-transform: capitalize;
  text-decoration: none;
}
a.active {
  border-bottom: 3px solid;
  color: rgb(3, 47, 107);
}
a:hover {
  border-bottom: 3px solid;
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 79%;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  position: sticky;
  margin: auto;
  z-index: 1;
  top: 0;
  background-color: rgba(220, 220, 220, 0.362);
}
header {
  text-transform: capitalize;
  width: 40%;
}
.contaner {
  display: flex;
  height: 578px;
  justify-content: center;
}
.sign_in {
  margin-top: 100px;
  text-align: center;
  padding: 81px;
  border-radius: 55px;
  background-color: rgba(230, 230, 250, 0);
  line-height: 20px;
  width: 28%;
  margin-bottom: 100px;
  border: 2px solid rgba(0, 0, 0, 0.403);
}
.password,.email {
  width: 107%;
  height: 25px;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.403);
}
@media (min-width:900px) {
  .password,.email{
    width: 70%;
  }
  .sign_in{
    width: 21%;
  }
}
.email:hover {
  background-color: lightgrey;
}
.password:hover {
  background-color: lightgrey;
}
.submit {
  color: white;
  background-color: rgb(108, 170, 184);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}
.submit:hover {
  background-color: rgb(74, 124, 131);
}
body {
  height: 100vh;
}
.login_text{
  font-size: 35px;
}