* {
  margin: 0;
  text-transform: capitalize;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

img {
  width: 300px;
}

a {
  color: rgb(9, 73, 162);
  text-transform: capitalize;
  text-decoration: none;
}

a.active {
  border-bottom: 3px solid;
  color: rgb(3, 47, 107);
}

a:hover {
  border-bottom: 3px solid;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 79%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  position: sticky;
  margin: auto;
  z-index: 1;
  top: 0;
  background-color: rgba(220, 220, 220, 0.362);
}

header {
  width: 40%;
}

h2 {
  text-transform: capitalize;
  word-spacing: 4px;
}

h3 {
  padding-bottom: 7px;
}

.read {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 12px;
  border: 1px solid rgb(9, 73, 162);
  border-radius: 5px;
}

.card {
  border: 1px solid black;
  width: 300px;
  border-radius: 5px;
  margin: 12px;
  padding: 10px;
}

.card:hover {
  box-shadow: 4px 5px 10px grey;
  transform: scale(1.03);
  transition: 0.5s ease;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

footer {
  text-align: center;
  padding: 15px;
  margin-top: 20px;
  background-color: rgba(220, 220, 220, 0.362);
}

::-webkit-scrollbar {
  display: none;
}